<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Aoe_Index>
			<version>0.0.1</version>
		</Aoe_Index>
	</modules>

	<global>
		<models>
			<aoe_index>
				<class>Aoe_Index_Model</class>
				<resourceModel>aoe_index_resource</resourceModel>
			</aoe_index>

			<aoe_index_resource>
				<class>Aoe_Index_Model_Resource</class>
			</aoe_index_resource>

			<index>
				<rewrite>
					<process>Aoe_Index_Model_Process</process>
				</rewrite>
			</index>

		</models>
		<blocks>
			<aoe_index>
				<class>Aoe_Index_Block</class>
			</aoe_index>
			<index>
				<rewrite>
					<adminhtml_process_grid>Aoe_Index_Block_Adminhtml_Index_Process_Grid</adminhtml_process_grid>
					<!--<adminhtml_process>Aoe_Index_Block_Adminhtml_Index_Process</adminhtml_process>-->
				</rewrite>
			</index>
		</blocks>
	</global>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Aoe_Index before="Mage_Index">Aoe_Index_Adminhtml</Aoe_Index>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<aoe_index>
					<file>Aoe_Index/aoe_index.xml</file>
				</aoe_index>
			</updates>
		</layout>
	</adminhtml>

</config>
